In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,1]) #it's like a map in java, or a mini database

obj

0    3
1    6
2    9
3    1
dtype: int64

In [4]:
obj.values #values of the Serie

array([3, 6, 9, 1], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj.keys

<bound method Series.keys of 0    3
1    6
2    9
3    1
dtype: int64>

In [17]:
arr = Series([121212,67888,90088,33444],index=['usa','uk','fr','jpn'])#we can define indexes
arr

usa    121212
uk      67888
fr      90088
jpn     33444
dtype: int64

In [18]:
arr['jpn']

33444

In [21]:
arr[arr > 92121] #coutries has population greater than 92121

usa    121212
dtype: int64

In [24]:
'fr' in arr #check if index 'fr' is in the serie, it works only for keys

True

In [29]:
dicto = arr.to_dict() #convert serie to dictionary
dicto

{'usa': 121212, 'uk': 67888, 'fr': 90088, 'jpn': 33444}

In [30]:
serr = Series(dicto) #convert dictionary to serie
serr

usa    121212
uk      67888
fr      90088
jpn     33444
dtype: int64

In [32]:
list1 = [121212,12344,28877,99888]

list2 = ['usa','ma','fr','japan','uk']

countr = Series(arr,index=list2) #make a serie from another one with indexes added
countr

usa      121212.0
ma            NaN
fr        90088.0
japan         NaN
uk        67888.0
dtype: float64

In [34]:
pd.isnull(countr) #index with a null value

usa      False
ma        True
fr       False
japan     True
uk       False
dtype: bool

In [35]:
pd.notnull(countr) #index with a not null value

usa       True
ma       False
fr        True
japan    False
uk        True
dtype: bool

In [36]:
arr + countr #add 2 series

fr       180176.0
japan         NaN
jpn           NaN
ma            NaN
uk       135776.0
usa      242424.0
dtype: float64

In [37]:
countr.name = "Some random countries" #give a name to your serie

In [38]:
countr

usa      121212.0
ma            NaN
fr        90088.0
japan         NaN
uk        67888.0
Name: Some random countries, dtype: float64

In [39]:
countr.index.name = "Countries" #give a nale to your index

In [40]:
countr

Countries
usa      121212.0
ma            NaN
fr        90088.0
japan         NaN
uk        67888.0
Name: Some random countries, dtype: float64