In [2]:
import numpy as np

import pandas as pd

from pandas import DataFrame, Series

In [6]:
arr = Series(['A','B','C'])

In [7]:
arr

0    A
1    B
2    C
dtype: object

In [8]:
arr.drop(0)

1    B
2    C
dtype: object

In [11]:
data = DataFrame(np.arange(9).reshape((3,3)),index = ['A','B','C'], columns=['col1','col2','col3'])
data

   col1  col2  col3
A     0     1     2
B     3     4     5
C     6     7     8

In [15]:
data2 = data.drop('A') #drop a row(doesn't affect the real Serie)
data2

   col1  col2  col3
B     3     4     5
C     6     7     8

In [14]:
data

   col1  col2  col3
A     0     1     2
B     3     4     5
C     6     7     8

In [16]:
data.drop('col1',axis=1) #drop a column ( we need to specify axis wish is 1 in this case (0 case of a row : but no need))

   col2  col3
A     1     2
B     4     5
C     7     8