In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from numpy.random import randn

In [2]:
serr = Series(randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])
serr

1  a   -0.944435
   b    1.227192
   c    0.326346
2  a   -0.311356
   b    1.916560
   c   -0.941628
dtype: float64

In [4]:
serr[1]

a   -0.944435
b    1.227192
c    0.326346
dtype: float64

In [6]:
serr[1]['a']

-0.9444348375563577

In [7]:
serr[:,'b']

1    1.227192
2    1.916560
dtype: float64

In [8]:
dframe = serr.unstack() #creat dataframe from a serie with multiple levels

In [9]:
dframe

          a         b         c
1 -0.944435  1.227192  0.326346
2 -0.311356  1.916560 -0.941628

In [10]:
dframe2 = DataFrame(randn(16).reshape(4,4),index = [['a','a','b','b'],[1,2,1,2]], columns = [['N','N','D','D'],['Q','C','Q','C']])
dframe2

            N                   D
            Q         C         Q         C
a 1 -0.079559 -0.272931  1.088698  1.848905
  2  0.680537 -0.288651 -1.938479 -1.473908
b 1 -0.871190 -0.000706 -1.030806  0.791481
  2 -0.989267 -0.836415  0.963949  0.273095